<p>
  <b>Description:</b>
  <%= @todo_list.description %>
</p>

<p>
  <b>Date:</b>
  <%= @todo_list.date %>
</p>


<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
